body{
    font-family: "Montserrat";
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Montserrat';
}

.paddding-aplyer{
    padding:3% 15%;

}

/* navbar  */


#navbar{
    padding:3% 14%;
    background-image: url(/image/background-img.jpg);  
    /* background-color: rgb(212, 29, 90); */
}


.navbar{
    margin-bottom: 2rem;
    
}
.nav-item{
   margin-left: 30px;
    font-size:1.4rem;;
}
.nav-icon,.home{
    font-size: 1.5rem;
    padding-right: 10px;
}


.heading{
    color: rgba(0, 0, 0, 0.738);
   text-shadow: 2px 2px rgba(62, 244, 62, 0.604);
   font-size: 4rem;
}


.my-profile{
    height: 20rem;
    width: 25rem;
}

.page-text{
    font-size: 5rem;
    padding-top:1.4rem ;
    color: pink;
    text-shadow:4px 4px rgba(0, 0, 0, 0.715);
}
.para{
    font-size: 3rem;
    color: pink;
    text-shadow:1px 1px rgb(69, 210, 215);
    padding-top: 4rem;
}

/* all sections */


/* secotion about me  */
#about-me{
    padding: 3% 10%;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Montserrat';   
}
.about-text{
    font-size: 1.5rem;
    padding: 3% 9%;
    text-align: left;
    color: rgb(173, 68, 85);
}

.about-top{
margin-top: 3%;
}
 .about-heading{
    font-size: 3rem;
    padding:3rem 3rem;
    color:rgb(68, 25, 25);
}


/* my-carousel */

#my-carousel{
    font-family: monospace;
    background-image: url(/image/background-img-3.webp);
}
.carousel-item{
    padding: 3% 15%;
    height: 100%;

}
.carousel-heading{
    font-size: 3rem;
    color: pink;
    padding-top: 3rem;
    text-shadow: 1px 1px black;
}
.carousel-text{
    font-size: 3.2rem;
    color:rgb(101, 56, 56);
}
.carousel-imgs{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(9, 13, 3, 0.544) ;
    
}

/* section contact */
#contact{
    padding: 10% 2%;
    color:#fff;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.567);
    font-family:monospace;  

}
.contact-head{
    font-size:2.3rem;
    margin-bottom:2rem;
    font-family: 'Montserrat';
    color: #fff;
   
}
.contact-head{
    margin-bottom: 10%;
}

/* social-icons  */

p,.social-icon{
    font-size:1.5rem; 
    margin-top: 2%; 
}

.fa-instagram:hover{
    color:rgb(199, 71, 113);
}

.fa-facebook:hover{
color: blue;
}



.fa-twitter:hover{
    color:lightblue;

}

.fa-envelope:hover{
    color: red;
}

/* media Querrys  */


@media(max-width:576px){

    .nav-link{
        font-size: 15px;

    }
    .nav-icon,.home{
        font-size: 20px;
    }
    .mytoggler{
        font-size: 15px;
        
    }


    .my-profile{
        position: relative;
        right:30px;
        width: 200px;
        height: 200px;
    }
    .page-text{
        font-size: 3rem;
        text-align: left;
        padding-top:-5rem;
        line-height: 2.9rem;
    } 
    .para{
        font-size: 30px;
        color: rgba(0, 0, 0, 0.895);
    }
    .nav-item{
        font-size:1rem;
    }
    .about-heading{
        text-align: left;
        font-size: 30px;
    }
    .about-text{
        font-size: 20px;
    }
    .carousel-heading{
        font-size:2.4rem ;
       text-shadow: 1px 1px black;

    }
    .carousel-text{
        font-size: 17px;
    }
    .paddding-aplyer{
        margin-top: 10%;
    }
    .contact-head{
        font-size: 1.3rem;
    }
    
}    


@media(max-width:980px){
       .nav-item{
        margin-right:40rem;
    } 
}


